/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


@jwHoverBlue:#60a0e8;
@jwHoverDark:#555555;
@jwFontDark:#165ba8;
@jwFontDark:#222222;
@jwWhite:#fff;

@jwFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif, "Mongolian Baiti";
@jwFontSize:14px;
@jwFontColor:#333;
@jwBorderColor:#c9c9c9;
@jwBackgroundColor:#ffffff;


//Grid specific.
@jwGridHeaderBackgroundColor:#FFF;
@jwGridHeaderFontColor:@jwFontDark;
@jwGridHeaderFontSize:12px;


@jwGridColumnHasFilterColor:#090909;
@jwGridRowColor:#FFF;
@jwGridAltRowColor:#f6f6f6;
@jwGridRowSelectedColor:@jwHoverDark;
@jwGridGroupingContainerTopMargin:5px;


@jwGridPagerButtonFontColor:@jwFontDark;
@jwGridPagerButtonHoverFontColor:@jwWhite;

//Menu
@jwMenuItemBgColor:@jwWhite;
@jwMenuItemFocusColor:@jwHoverDark;






