/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "jasonLessVariables";
body .jasonWidget {
    font-family: @jwFontFamily;
    font-size:@jwFontSize;
    ::-webkit-input-placeholder { 
        color:@jwFontDark;
        font-style:italic;
    }
    ::-moz-placeholder { color:@jwFontDark; font-style:italic;} /* firefox 19+ */
    :-ms-input-placeholder { color:@jwFontDark; font-style:italic; } /* ie */
    input:-moz-placeholder { color:@jwFontDark; font-style:italic; }
}
.jw-clear-float{
    clear:both;
}

.jw-label{
    display: inline-block;    
    height:100%;
    line-height:32px;
}

.jw-text-overflow {
    white-space: nowrap;
    overflow-x: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.jw-button{
    height:100%;
    display:inline-block;
    vertical-align:middle;
    border-radius:@jwBorderRadius;
    .jw-label{
        width:calc(~"100%" - 32px);
        width:-webkit-calc(~"100%" - 32px);
        vertical-align:middle;
        color:@jwFontColor;
        line-height:@jwButtonHeight;
    }
    .jw-icon{
        vertical-align:middle;
    }
}
.jw-button:hover,
.jw-button:focus{
    outline:0;
    box-shadow:@jwBoxShadowDefault400;
}

.jw-text-input{
    display:inline-block;
    vertical-align:middle;
    margin:0;
    padding:0;
    height:100%;
    border:0;
    border-radius:@jwBorderRadius;
    color: @jwFontColor;
    background-image: none;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    text-indent:5px;
}
.jw-text-input::-ms-clear{
    display:none;
}

.jw-text-input[readonly=true]{
    cursor:pointer;
}

.jw-text-input:focus,
.jw-text-input:hover{
    outline:0;
    box-shadow:@jwBoxShadowDefault400;
}




.jw-unselectable {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.jw-drag-image-container{
    border:1px solid @jwDefault200;
    border-radius:4px;
    position:absolute;
    max-width:150px;
    background:@jwDefault500;
    max-height:25px !important;
    display:flex;
    justify-content:center;
    a{
        color:@jwWhite;
        text-decoration:none;
    }
}