/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
/*#region grid header - start*/
.jason-grid-header-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  background-color: #ffffff;
  color: #222222 !important;
  font-size: 12px !important;
}
.jason-grid-header-container table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.jason-grid-header-container table tr {
  height: 35px;
}
.jason-grid-header-container table th {
  text-align: left;
  padding: 0;
  line-height: 16px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}
.jason-grid-header-container table th .jason-header-cell-caption {
  float: left;
  width: 70%;
  padding-left: 5px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.jason-grid-header-container table th .jason-header-cell-icon {
  float: left;
  width: calc(30% - 10px);
  padding-right: 5px;
}
.jason-grid-header-container table th.jason-grid-column-has-filter {
  background-color: #090909;
}
.jason-grid-header-container.no-grouping {
  border-top: 1px solid #c9c9c9;
}
/*#endregion grid header - end*/
/* #region jason-grid-data - start*/
.jason-grid-data-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.jason-grid-data-container table {
  table-layout: fixed;
  border-collapse: collapse;
  line-height: 2.3em;
  width: 100%;
  /*we do not want to the first line of cells to have a border
          The border will be covered from the table header
        */
  /*we do not want to the last line of cells to have a border
          The border will be covered from the table footer
        */
  /*bordering for all table cells*/
}
.jason-grid-data-container table tr:first-child td {
  border-top: 0;
}
.jason-grid-data-container table tr:last-child td {
  border-bottom: 0;
}
.jason-grid-data-container table td {
  border: 1px solid #c9c9c9;
}
.jason-grid-data-container table .jason-grid-row {
  background-color: #ffffff;
  /*we want to the group cell to have a different colour */
  /*we want the table cells not wrap , but hide their overflow*/
}
.jason-grid-data-container table .jason-grid-row .group-cell {
  background-color: #ffffff;
}
.jason-grid-data-container table .jason-grid-row td {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.jason-grid-data-container table .jason-grid-row:hover,
.jason-grid-data-container table .jason-grid-row.row-alt:hover {
  background-color: #555555;
  color: #ffffff;
}
.jason-grid-data-container table .jason-grid-no-data-row {
  text-align: center;
  font-weight: 700;
}
.jason-grid-data-container table .jason-grid-row.group-row {
  background-color: #ffffff;
}
.jason-grid-data-container table .jason-grid-row.group-row i {
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}
.jason-grid-data-container table .jason-grid-row.row-alt {
  background-color: #f6f6f6;
}
.jason-grid-data-container table .jason-grid-row.row-selected {
  background-color: #555555;
  color: #ffffff;
}
/* #endregion jason-grid-data - end*/
/* #region jason-grid-footer*/
.jason-grid-footer-container {
  background-color: #ffffff;
  border: 1px solid #c9c9c9;
  height: 30px;
  padding: 5px 5px 0 5px;
}
/* #endregion jason-grid-footer*/
/* #region grid statusbar - start*/
.jason-grid-pager button {
  float: left;
  cursor: pointer;
  margin-left: 2.5px;
  margin-right: 2.5px;
  border: 0;
  border-radius: 3px;
  line-height: 20px;
  padding: 2.5px 5px 2.5px 5px;
  background-color: #ffffff;
  color: #222222;
  outline: none;
}
.jason-grid-pager input {
  float: left;
  height: 20px;
}
.jason-grid-pager button:hover {
  background-color: #222222;
  color: #ffffff;
}
.jason-grid-pager button:focus {
  background-color: #222222;
  color: #ffffff;
}
.jason-grid-pager .pager-info {
  padding: 2.5px 5px 2.5px 5px;
  float: right;
  color: #222222;
}
/* #endregion grid statusbar - end*/
/* #region grid filter - start*/
.jason-grid-filter-container {
  position: absolute;
  width: 250px;
  height: 210px;
  border-radius: 3px;
  background-color: #ffffff;
  border-color: #c9c9c9;
  border: 1px solid;
}
.jason-grid-filter-container .jason-grid-filter-header {
  height: 10%;
}
.jason-grid-filter-container .jason-grid-filter-header span {
  padding: 5px;
}
.jason-grid-filter-container .jason-grid-filter-body {
  height: calc(75% - 5px);
}
.jason-grid-filter-container .jason-grid-filter-body .jason-combobox {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}
.jason-grid-filter-container .jason-grid-filter-body input {
  width: calc(100% - 5px);
  padding: 0;
  height: 21px;
}
.jason-grid-filter-container .jason-grid-filter-body .jason-filter-input {
  padding-left: 5px;
  padding-right: 5px;
  height: 26px;
  margin-bottom: 5px;
}
.jason-grid-filter-container .jason-grid-filter-footer {
  height: 15%;
  margin-top: 5px;
  line-height: 18px;
}
.jason-grid-filter-container .jason-grid-filter-footer a {
  display: inline-block;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 40%;
}
.jason-grid-filter-container .jason-grid-filter-footer a i {
  vertical-align: middle;
  margin-right: 5px;
}
.jason-grid-filter-container .jason-grid-filter-footer a:hover {
  background-color: #555555;
  color: #ffffff;
}
.jason-grid-filter-container .jason-grid-filter-footer a.clear-filter {
  margin-left: 5px;
  float: left;
}
.jason-grid-filter-container .jason-grid-filter-footer a.apply-filter {
  margin-right: 5px;
  float: right;
}
.jason-menu-item .jason-grid-filter-container {
  position: unset !important;
  border: none !important;
  border-radius: unset !important;
  border-color: none;
  margin-left: -5px;
}
/* #endregion grid filter - end*/
/* #region grid groupcontainer - start*/
.jason-grid-group-container {
  height: 35px;
  background-color: #ffffff;
  color: #222222;
  font-family: sans-serif;
  border: 1px dashed #c9c9c9;
  border-bottom-style: solid;
}
.jason-grid-group-container span {
  display: inline-block;
  padding: 5px;
}
.jason-grid-group-container div {
  float: left;
  border: 1px solid transparent;
  min-width: 10%;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  font-size: 18px;
  height: 20px;
  border-radius: 3px;
  /*background-color:#FFB739;*/
}
.jason-grid-group-container a {
  margin-left: 7px;
  text-decoration: none;
  cursor: pointer;
}
.jason-grid-group-container a i {
  vertical-align: middle;
}
/*# sourceMappingURL=jasonGrid.css.map */