.jw-icon-sized { background: url('sprites_sized.png') no-repeat top left; width: 16px; height: 16px; display:inline-block  } 
.jw-icon-sized.account-login-2x { background-position: 0px 0px;  } 
.jw-icon-sized.account-logout-2x { background-position: -26px 0px;  } 
.jw-icon-sized.action-redo-2x { background-position: -52px 0px;  } 
.jw-icon-sized.action-undo-2x { background-position: -78px 0px;  } 
.jw-icon-sized.align-center-2x { background-position: -104px 0px;  } 
.jw-icon-sized.align-left-2x { background-position: -130px 0px;  } 
.jw-icon-sized.align-right-2x { background-position: -156px 0px;  } 
.jw-icon-sized.aperture-2x { background-position: -182px 0px;  } 
.jw-icon-sized.arrow-bottom-2x { background-position: -208px 0px;  } 
.jw-icon-sized.arrow-circle-bottom-2x { background-position: -234px 0px;  } 
.jw-icon-sized.arrow-circle-left-2x { background-position: -260px 0px;  } 
.jw-icon-sized.arrow-circle-right-2x { background-position: -286px 0px;  } 
.jw-icon-sized.arrow-circle-top-2x { background-position: -312px 0px;  } 
.jw-icon-sized.arrow-left-2x { background-position: -338px 0px;  } 
.jw-icon-sized.arrow-right-2x { background-position: -364px 0px;  } 
.jw-icon-sized.arrow-thick-bottom-2x { background-position: -390px 0px;  } 
.jw-icon-sized.arrow-thick-left-2x { background-position: -416px 0px;  } 
.jw-icon-sized.arrow-thick-right-2x { background-position: -442px 0px;  } 
.jw-icon-sized.arrow-thick-top-2x { background-position: -468px 0px;  } 
.jw-icon-sized.arrow-top-2x { background-position: -494px 0px;  } 
.jw-icon-sized.audio-2x { background-position: -520px 0px;  } 
.jw-icon-sized.audio-spectrum-2x { background-position: -546px 0px;  } 
.jw-icon-sized.badge-2x { background-position: -572px 0px;  } 
.jw-icon-sized.ban-2x { background-position: -598px 0px;  } 
.jw-icon-sized.bar-chart-2x { background-position: -624px 0px;  } 
.jw-icon-sized.basket-2x { background-position: -650px 0px;  } 
.jw-icon-sized.battery-empty-2x { background-position: -676px 0px;  } 
.jw-icon-sized.battery-full-2x { background-position: -702px 0px;  } 
.jw-icon-sized.beaker-2x { background-position: -728px 0px;  } 
.jw-icon-sized.bell-2x { background-position: -754px 0px;  } 
.jw-icon-sized.bluetooth-2x { background-position: -780px 0px;  } 
.jw-icon-sized.bold-2x { background-position: -806px 0px;  } 
.jw-icon-sized.bolt-2x { background-position: -832px 0px;  } 
.jw-icon-sized.book-2x { background-position: -858px 0px;  } 
.jw-icon-sized.bookmark-2x { background-position: -884px 0px;  } 
.jw-icon-sized.box-2x { background-position: -910px 0px;  } 
.jw-icon-sized.briefcase-2x { background-position: -936px 0px;  } 
.jw-icon-sized.british-pound-2x { background-position: -962px 0px;  } 
.jw-icon-sized.browser-2x { background-position: -988px 0px;  } 
.jw-icon-sized.brush-2x { background-position: -1014px 0px;  } 
.jw-icon-sized.bug-2x { background-position: -1040px 0px;  } 
.jw-icon-sized.bullhorn-2x { background-position: -1066px 0px;  } 
.jw-icon-sized.calculator-2x { background-position: -1092px 0px;  } 
.jw-icon-sized.calendar-2x { background-position: -1118px 0px;  } 
.jw-icon-sized.camera-slr-2x { background-position: -1144px 0px;  } 
.jw-icon-sized.caret-bottom-2x { background-position: -1170px 0px;  } 
.jw-icon-sized.caret-left-2x { background-position: -1196px 0px;  } 
.jw-icon-sized.caret-right-2x { background-position: -1222px 0px;  } 
.jw-icon-sized.caret-top-2x { background-position: -1248px 0px;  } 
.jw-icon-sized.cart-2x { background-position: -1274px 0px;  } 
.jw-icon-sized.chat-2x { background-position: -1300px 0px;  } 
.jw-icon-sized.check-2x { background-position: -1326px 0px;  } 
.jw-icon-sized.chevron-bottom-2x { background-position: -1352px 0px;  } 
.jw-icon-sized.chevron-left-2x { background-position: -1378px 0px;  } 
.jw-icon-sized.chevron-right-2x { background-position: -1404px 0px;  } 
.jw-icon-sized.chevron-top-2x { background-position: -1430px 0px;  } 
.jw-icon-sized.circle-check-2x { background-position: -1456px 0px;  } 
.jw-icon-sized.circle-x-2x { background-position: -1482px 0px;  } 
.jw-icon-sized.clipboard-2x { background-position: -1508px 0px;  } 
.jw-icon-sized.clock-2x { background-position: -1534px 0px;  } 
.jw-icon-sized.cloud-2x { background-position: -1560px 0px;  } 
.jw-icon-sized.cloud-download-2x { background-position: -1586px 0px;  } 
.jw-icon-sized.cloud-upload-2x { background-position: -1612px 0px;  } 
.jw-icon-sized.cloudy-2x { background-position: -1638px 0px;  } 
.jw-icon-sized.code-2x { background-position: -1664px 0px;  } 
.jw-icon-sized.cog-2x { background-position: -1690px 0px;  } 
.jw-icon-sized.collapse-down-2x { background-position: -1716px 0px;  } 
.jw-icon-sized.collapse-left-2x { background-position: -1742px 0px;  } 
.jw-icon-sized.collapse-right-2x { background-position: -1768px 0px;  } 
.jw-icon-sized.collapse-up-2x { background-position: -1794px 0px;  } 
.jw-icon-sized.command-2x { background-position: -1820px 0px;  } 
.jw-icon-sized.comment-square-2x { background-position: -1846px 0px;  } 
.jw-icon-sized.compass-2x { background-position: -1872px 0px;  } 
.jw-icon-sized.contrast-2x { background-position: -1898px 0px;  } 
.jw-icon-sized.copywriting-2x { background-position: -1924px 0px;  } 
.jw-icon-sized.credit-card-2x { background-position: -1950px 0px;  } 
.jw-icon-sized.crop-2x { background-position: -1976px 0px;  } 
.jw-icon-sized.dashboard-2x { background-position: -2002px 0px;  } 
.jw-icon-sized.data-transfer-download-2x { background-position: -2028px 0px;  } 
.jw-icon-sized.data-transfer-upload-2x { background-position: -2054px 0px;  } 
.jw-icon-sized.delete-2x { background-position: -2080px 0px;  } 
.jw-icon-sized.dial-2x { background-position: -2106px 0px;  } 
.jw-icon-sized.document-2x { background-position: -2132px 0px;  } 
.jw-icon-sized.dollar-2x { background-position: -2158px 0px;  } 
.jw-icon-sized.double-quote-sans-left-2x { background-position: -2184px 0px;  } 
.jw-icon-sized.double-quote-sans-right-2x { background-position: -2210px 0px;  } 
.jw-icon-sized.double-quote-serif-left-2x { background-position: -2236px 0px;  } 
.jw-icon-sized.double-quote-serif-right-2x { background-position: -2262px 0px;  } 
.jw-icon-sized.droplet-2x { background-position: -2288px 0px;  } 
.jw-icon-sized.eject-2x { background-position: -2314px 0px;  } 
.jw-icon-sized.elevator-2x { background-position: -2340px 0px;  } 
.jw-icon-sized.ellipses-2x { background-position: -2366px 0px;  } 
.jw-icon-sized.envelope-closed-2x { background-position: -2392px 0px;  } 
.jw-icon-sized.envelope-open-2x { background-position: -2418px 0px;  } 
.jw-icon-sized.euro-2x { background-position: -2444px 0px;  } 
.jw-icon-sized.excerpt-2x { background-position: -2470px 0px;  } 
.jw-icon-sized.expand-down-2x { background-position: -2496px 0px;  } 
.jw-icon-sized.expand-left-2x { background-position: -2522px 0px;  } 
.jw-icon-sized.expand-right-2x { background-position: -2548px 0px;  } 
.jw-icon-sized.expand-up-2x { background-position: -2574px 0px;  } 
.jw-icon-sized.external-link-2x { background-position: -2600px 0px;  } 
.jw-icon-sized.eye-2x { background-position: -2626px 0px;  } 
.jw-icon-sized.eyedropper-2x { background-position: -2652px 0px;  } 
.jw-icon-sized.file-2x { background-position: -2678px 0px;  } 
.jw-icon-sized.fire-2x { background-position: -2704px 0px;  } 
.jw-icon-sized.flag-2x { background-position: -2730px 0px;  } 
.jw-icon-sized.flash-2x { background-position: -2756px 0px;  } 
.jw-icon-sized.folder-2x { background-position: -2782px 0px;  } 
.jw-icon-sized.fork-2x { background-position: -2808px 0px;  } 
.jw-icon-sized.fullscreen-enter-2x { background-position: -2834px 0px;  } 
.jw-icon-sized.fullscreen-exit-2x { background-position: -2860px 0px;  } 
.jw-icon-sized.globe-2x { background-position: -2886px 0px;  } 
.jw-icon-sized.graph-2x { background-position: -2912px 0px;  } 
.jw-icon-sized.grid-four-up-2x { background-position: -2938px 0px;  } 
.jw-icon-sized.grid-three-up-2x { background-position: -2964px 0px;  } 
.jw-icon-sized.grid-two-up-2x { background-position: -2990px 0px;  } 
.jw-icon-sized.hard-drive-2x { background-position: -3016px 0px;  } 
.jw-icon-sized.header-2x { background-position: -3042px 0px;  } 
.jw-icon-sized.headphones-2x { background-position: -3068px 0px;  } 
.jw-icon-sized.heart-2x { background-position: -3094px 0px;  } 
.jw-icon-sized.home-2x { background-position: -3120px 0px;  } 
.jw-icon-sized.image-2x { background-position: -3146px 0px;  } 
.jw-icon-sized.inbox-2x { background-position: -3172px 0px;  } 
.jw-icon-sized.infinity-2x { background-position: -3198px 0px;  } 
.jw-icon-sized.info-2x { background-position: -3224px 0px;  } 
.jw-icon-sized.italic-2x { background-position: -3250px 0px;  } 
.jw-icon-sized.justify-center-2x { background-position: -3276px 0px;  } 
.jw-icon-sized.justify-left-2x { background-position: -3302px 0px;  } 
.jw-icon-sized.justify-right-2x { background-position: -3328px 0px;  } 
.jw-icon-sized.key-2x { background-position: -3354px 0px;  } 
.jw-icon-sized.laptop-2x { background-position: -3380px 0px;  } 
.jw-icon-sized.layers-2x { background-position: -3406px 0px;  } 
.jw-icon-sized.lightbulb-2x { background-position: -3432px 0px;  } 
.jw-icon-sized.link-broken-2x { background-position: -3458px 0px;  } 
.jw-icon-sized.link-intact-2x { background-position: -3484px 0px;  } 
.jw-icon-sized.list-2x { background-position: -3510px 0px;  } 
.jw-icon-sized.list-rich-2x { background-position: -3536px 0px;  } 
.jw-icon-sized.location-2x { background-position: -3562px 0px;  } 
.jw-icon-sized.lock-locked-2x { background-position: -3588px 0px;  } 
.jw-icon-sized.lock-unlocked-2x { background-position: -3614px 0px;  } 
.jw-icon-sized.loop-2x { background-position: -3640px 0px;  } 
.jw-icon-sized.loop-circular-2x { background-position: -3666px 0px;  } 
.jw-icon-sized.magnifying-glass-2x { background-position: -3692px 0px;  } 
.jw-icon-sized.loop-square-2x { background-position: -3718px 0px;  } 
.jw-icon-sized.map-2x { background-position: -3744px 0px;  } 
.jw-icon-sized.map-marker-2x { background-position: -3770px 0px;  } 
.jw-icon-sized.media-pause-2x { background-position: -3796px 0px;  } 
.jw-icon-sized.media-play-2x { background-position: -3822px 0px;  } 
.jw-icon-sized.media-record-2x { background-position: -3848px 0px;  } 
.jw-icon-sized.media-skip-backward-2x { background-position: -3874px 0px;  } 
.jw-icon-sized.media-skip-forward-2x { background-position: -3900px 0px;  } 
.jw-icon-sized.media-step-forward-2x { background-position: -3926px 0px;  } 
.jw-icon-sized.media-step-backward-2x { background-position: -3952px 0px;  } 
.jw-icon-sized.media-stop-2x { background-position: -3978px 0px;  } 
.jw-icon-sized.medical-cross-2x { background-position: -4004px 0px;  } 
.jw-icon-sized.menu-2x { background-position: -4030px 0px;  } 
.jw-icon-sized.microphone-2x { background-position: -4056px 0px;  } 
.jw-icon-sized.minus-2x { background-position: -4082px 0px;  } 
.jw-icon-sized.monitor-2x { background-position: -4108px 0px;  } 
.jw-icon-sized.moon-2x { background-position: -4134px 0px;  } 
.jw-icon-sized.move-2x { background-position: -4160px 0px;  } 
.jw-icon-sized.musical-note-2x { background-position: -4186px 0px;  } 
.jw-icon-sized.paperclip-2x { background-position: -4212px 0px;  } 
.jw-icon-sized.pencil-2x { background-position: -4238px 0px;  } 
.jw-icon-sized.people-2x { background-position: -4264px 0px;  } 
.jw-icon-sized.person-2x { background-position: -4290px 0px;  } 
.jw-icon-sized.phone-2x { background-position: -4316px 0px;  } 
.jw-icon-sized.pie-chart-2x { background-position: -4342px 0px;  } 
.jw-icon-sized.pin-2x { background-position: -4368px 0px;  } 
.jw-icon-sized.play-circle-2x { background-position: -4394px 0px;  } 
.jw-icon-sized.plus-2x { background-position: -4420px 0px;  } 
.jw-icon-sized.power-standby-2x { background-position: -4446px 0px;  } 
.jw-icon-sized.print-2x { background-position: -4472px 0px;  } 
.jw-icon-sized.project-2x { background-position: -4498px 0px;  } 
.jw-icon-sized.pulse-2x { background-position: -4524px 0px;  } 
.jw-icon-sized.puzzle-piece-2x { background-position: -4550px 0px;  } 
.jw-icon-sized.question-mark-2x { background-position: -4576px 0px;  } 
.jw-icon-sized.rain-2x { background-position: -4602px 0px;  } 
.jw-icon-sized.random-2x { background-position: -4628px 0px;  } 
.jw-icon-sized.reload-2x { background-position: -4654px 0px;  } 
.jw-icon-sized.resize-both-2x { background-position: -4680px 0px;  } 
.jw-icon-sized.resize-height-2x { background-position: -4706px 0px;  } 
.jw-icon-sized.resize-width-2x { background-position: -4732px 0px;  } 
.jw-icon-sized.rss-2x { background-position: -4758px 0px;  } 
.jw-icon-sized.rss-alt-2x { background-position: -4784px 0px;  } 
.jw-icon-sized.script-2x { background-position: -4810px 0px;  } 
.jw-icon-sized.share-2x { background-position: -4836px 0px;  } 
.jw-icon-sized.share-boxed-2x { background-position: -4862px 0px;  } 
.jw-icon-sized.shield-2x { background-position: -4888px 0px;  } 
.jw-icon-sized.signal-2x { background-position: -4914px 0px;  } 
.jw-icon-sized.signpost-2x { background-position: -4940px 0px;  } 
.jw-icon-sized.sort-ascending-2x { background-position: -4966px 0px;  } 
.jw-icon-sized.sort-descending-2x { background-position: -4992px 0px;  } 
.jw-icon-sized.spreadsheet-2x { background-position: -5018px 0px;  } 
.jw-icon-sized.star-2x { background-position: -5044px 0px;  } 
.jw-icon-sized.sun-2x { background-position: -5070px 0px;  } 
.jw-icon-sized.tablet-2x { background-position: -5096px 0px;  } 
.jw-icon-sized.tag-2x { background-position: -5122px 0px;  } 
.jw-icon-sized.tags-2x { background-position: -5148px 0px;  } 
.jw-icon-sized.target-2x { background-position: -5174px 0px;  } 
.jw-icon-sized.task-2x { background-position: -5200px 0px;  } 
.jw-icon-sized.terminal-2x { background-position: -5226px 0px;  } 
.jw-icon-sized.text-2x { background-position: -5252px 0px;  } 
.jw-icon-sized.thumb-down-2x { background-position: -5278px 0px;  } 
.jw-icon-sized.thumb-up-2x { background-position: -5304px 0px;  } 
.jw-icon-sized.timer-2x { background-position: -5330px 0px;  } 
.jw-icon-sized.transfer-2x { background-position: -5356px 0px;  } 
.jw-icon-sized.trash-2x { background-position: -5382px 0px;  } 
.jw-icon-sized.underline-2x { background-position: -5408px 0px;  } 
.jw-icon-sized.vertical-align-bottom-2x { background-position: -5434px 0px;  } 
.jw-icon-sized.vertical-align-center-2x { background-position: -5460px 0px;  } 
.jw-icon-sized.vertical-align-top-2x { background-position: -5486px 0px;  } 
.jw-icon-sized.video-2x { background-position: -5512px 0px;  } 
.jw-icon-sized.volume-high-2x { background-position: -5538px 0px;  } 
.jw-icon-sized.volume-low-2x { background-position: -5564px 0px;  } 
.jw-icon-sized.volume-off-2x { background-position: -5590px 0px;  } 
.jw-icon-sized.warning-2x { background-position: -5616px 0px;  } 
.jw-icon-sized.wifi-2x { background-position: -5642px 0px;  } 
.jw-icon-sized.wrench-2x { background-position: -5668px 0px;  } 
.jw-icon-sized.x-2x { background-position: -5694px 0px;  } 
.jw-icon-sized.yen-2x { background-position: -5720px 0px;  } 
.jw-icon-sized.zoom-in-2x { background-position: -5746px 0px;  } 
.jw-icon-sized.zoom-out-2x { background-position: -5772px 0px;  } 