.jw-icon { background: url('sprites.png') no-repeat top left; display:inline-block;} 
.jw-icon.account-login-2x { background-position: 0px 0px; width: 12px; height: 12px;  } 
.jw-icon.action-redo-2x { background-position: -22px 0px; width: 12px; height: 12px;  } 
.jw-icon.account-logout-2x { background-position: -44px 0px; width: 12px; height: 12px;  } 
.jw-icon.action-undo-2x { background-position: -66px 0px; width: 12px; height: 12px;  } 
.jw-icon.align-center-2x { background-position: -88px 0px; width: 12px; height: 12px;  } 
.jw-icon.align-left-2x { background-position: -110px 0px; width: 12px; height: 12px;  } 
.jw-icon.align-right-2x { background-position: -132px 0px; width: 12px; height: 12px;  } 
.jw-icon.aperture-2x { background-position: -154px 0px; width: 12px; height: 12px;  } 
.jw-icon.arrow-bottom-2x { background-position: -176px 0px; width: 12px; height: 12px;  } 
.jw-icon.arrow-circle-bottom-2x { background-position: -198px 0px; width: 12px; height: 12px;  } 
.jw-icon.arrow-circle-left-2x { background-position: -220px 0px; width: 12px; height: 12px;  } 
.jw-icon.arrow-circle-right-2x { background-position: -242px 0px; width: 12px; height: 12px;  } 
.jw-icon.arrow-circle-top-2x { background-position: -264px 0px; width: 12px; height: 12px;  } 
.jw-icon.arrow-left-2x { background-position: -286px 0px; width: 12px; height: 12px;  } 
.jw-icon.arrow-right-2x { background-position: -308px 0px; width: 12px; height: 12px;  } 
.jw-icon.arrow-thick-bottom-2x { background-position: -330px 0px; width: 12px; height: 12px;  } 
.jw-icon.arrow-thick-left-2x { background-position: -352px 0px; width: 12px; height: 12px;  } 
.jw-icon.arrow-thick-right-2x { background-position: -374px 0px; width: 12px; height: 12px;  } 
.jw-icon.arrow-thick-top-2x { background-position: -396px 0px; width: 12px; height: 12px;  } 
.jw-icon.arrow-top-2x { background-position: -418px 0px; width: 12px; height: 12px;  } 
.jw-icon.audio-2x { background-position: -440px 0px; width: 12px; height: 12px;  } 
.jw-icon.audio-spectrum-2x { background-position: -462px 0px; width: 12px; height: 12px;  } 
.jw-icon.badge-2x { background-position: -484px 0px; width: 12px; height: 12px;  } 
.jw-icon.ban-2x { background-position: -506px 0px; width: 12px; height: 12px;  } 
.jw-icon.bar-chart-2x { background-position: -528px 0px; width: 12px; height: 12px;  } 
.jw-icon.basket-2x { background-position: -550px 0px; width: 12px; height: 12px;  } 
.jw-icon.battery-empty-2x { background-position: -572px 0px; width: 12px; height: 12px;  } 
.jw-icon.battery-full-2x { background-position: -594px 0px; width: 12px; height: 12px;  } 
.jw-icon.beaker-2x { background-position: -616px 0px; width: 12px; height: 12px;  } 
.jw-icon.bell-2x { background-position: -638px 0px; width: 12px; height: 12px;  } 
.jw-icon.bluetooth-2x { background-position: -660px 0px; width: 12px; height: 12px;  } 
.jw-icon.bold-2x { background-position: -682px 0px; width: 12px; height: 12px;  } 
.jw-icon.bolt-2x { background-position: -704px 0px; width: 12px; height: 12px;  } 
.jw-icon.book-2x { background-position: -726px 0px; width: 12px; height: 12px;  } 
.jw-icon.bookmark-2x { background-position: -748px 0px; width: 12px; height: 12px;  } 
.jw-icon.box-2x { background-position: -770px 0px; width: 12px; height: 12px;  } 
.jw-icon.briefcase-2x { background-position: -792px 0px; width: 12px; height: 12px;  } 
.jw-icon.british-pound-2x { background-position: -814px 0px; width: 12px; height: 12px;  } 
.jw-icon.browser-2x { background-position: -836px 0px; width: 12px; height: 12px;  } 
.jw-icon.brush-2x { background-position: -858px 0px; width: 12px; height: 12px;  } 
.jw-icon.bug-2x { background-position: -880px 0px; width: 12px; height: 12px;  } 
.jw-icon.bullhorn-2x { background-position: -902px 0px; width: 12px; height: 12px;  } 
.jw-icon.calculator-2x { background-position: -924px 0px; width: 12px; height: 12px;  } 
.jw-icon.camera-slr-2x { background-position: -946px 0px; width: 12px; height: 12px;  } 
.jw-icon.caret-bottom-2x { background-position: -968px 0px; width: 12px; height: 12px;  } 
.jw-icon.calendar-2x { background-position: -990px 0px; width: 12px; height: 12px;  } 
.jw-icon.caret-right-2x { background-position: -1012px 0px; width: 12px; height: 12px;  } 
.jw-icon.caret-left-2x { background-position: -1034px 0px; width: 12px; height: 12px;  } 
.jw-icon.caret-top-2x { background-position: -1056px 0px; width: 12px; height: 12px;  } 
.jw-icon.cart-2x { background-position: -1078px 0px; width: 12px; height: 12px;  } 
.jw-icon.chat-2x { background-position: -1100px 0px; width: 12px; height: 12px;  } 
.jw-icon.check-2x { background-position: -1122px 0px; width: 12px; height: 12px;  } 
.jw-icon.chevron-bottom-2x { background-position: -1144px 0px; width: 12px; height: 12px;  } 
.jw-icon.chevron-left-2x { background-position: -1166px 0px; width: 12px; height: 12px;  } 
.jw-icon.chevron-right-2x { background-position: -1188px 0px; width: 12px; height: 12px;  } 
.jw-icon.chevron-top-2x { background-position: -1210px 0px; width: 12px; height: 12px;  } 
.jw-icon.circle-check-2x { background-position: -1232px 0px; width: 12px; height: 12px;  } 
.jw-icon.circle-x-2x { background-position: -1254px 0px; width: 12px; height: 12px;  } 
.jw-icon.clipboard-2x { background-position: -1276px 0px; width: 12px; height: 12px;  } 
.jw-icon.clock-2x { background-position: -1298px 0px; width: 12px; height: 12px;  } 
.jw-icon.cloud-2x { background-position: -1320px 0px; width: 12px; height: 12px;  } 
.jw-icon.cloud-download-2x { background-position: -1342px 0px; width: 12px; height: 12px;  } 
.jw-icon.cloud-upload-2x { background-position: -1364px 0px; width: 12px; height: 12px;  } 
.jw-icon.cloudy-2x { background-position: -1386px 0px; width: 12px; height: 12px;  } 
.jw-icon.code-2x { background-position: -1408px 0px; width: 12px; height: 12px;  } 
.jw-icon.cog-2x { background-position: -1430px 0px; width: 12px; height: 12px;  } 
.jw-icon.collapse-left-2x { background-position: -1452px 0px; width: 12px; height: 12px;  } 
.jw-icon.collapse-down-2x { background-position: -1474px 0px; width: 12px; height: 12px;  } 
.jw-icon.collapse-right-2x { background-position: -1496px 0px; width: 12px; height: 12px;  } 
.jw-icon.collapse-up-2x { background-position: -1518px 0px; width: 12px; height: 12px;  } 
.jw-icon.command-2x { background-position: -1540px 0px; width: 12px; height: 12px;  } 
.jw-icon.compass-2x { background-position: -1562px 0px; width: 12px; height: 12px;  } 
.jw-icon.contrast-2x { background-position: -1584px 0px; width: 12px; height: 12px;  } 
.jw-icon.copywriting-2x { background-position: -1606px 0px; width: 12px; height: 12px;  } 
.jw-icon.credit-card-2x { background-position: -1628px 0px; width: 12px; height: 12px;  } 
.jw-icon.crop-2x { background-position: -1650px 0px; width: 12px; height: 12px;  } 
.jw-icon.dashboard-2x { background-position: -1672px 0px; width: 12px; height: 12px;  } 
.jw-icon.data-transfer-download-2x { background-position: -1694px 0px; width: 12px; height: 12px;  } 
.jw-icon.comment-square-2x { background-position: -1716px 0px; width: 12px; height: 12px;  } 
.jw-icon.data-transfer-upload-2x { background-position: -1738px 0px; width: 12px; height: 12px;  } 
.jw-icon.delete-2x { background-position: -1760px 0px; width: 12px; height: 12px;  } 
.jw-icon.dial-2x { background-position: -1782px 0px; width: 12px; height: 12px;  } 
.jw-icon.document-2x { background-position: -1804px 0px; width: 12px; height: 12px;  } 
.jw-icon.dollar-2x { background-position: -1826px 0px; width: 12px; height: 12px;  } 
.jw-icon.double-quote-sans-left-2x { background-position: -1848px 0px; width: 12px; height: 12px;  } 
.jw-icon.double-quote-sans-right-2x { background-position: -1870px 0px; width: 12px; height: 12px;  } 
.jw-icon.double-quote-serif-left-2x { background-position: -1892px 0px; width: 12px; height: 12px;  } 
.jw-icon.double-quote-serif-right-2x { background-position: -1914px 0px; width: 12px; height: 12px;  } 
.jw-icon.droplet-2x { background-position: -1936px 0px; width: 12px; height: 12px;  } 
.jw-icon.eject-2x { background-position: -1958px 0px; width: 12px; height: 12px;  } 
.jw-icon.elevator-2x { background-position: -1980px 0px; width: 12px; height: 12px;  } 
.jw-icon.envelope-closed-2x { background-position: -2002px 0px; width: 12px; height: 12px;  } 
.jw-icon.ellipses-2x { background-position: -2024px 0px; width: 12px; height: 12px;  } 
.jw-icon.envelope-open-2x { background-position: -2046px 0px; width: 12px; height: 12px;  } 
.jw-icon.euro-2x { background-position: -2068px 0px; width: 12px; height: 12px;  } 
.jw-icon.expand-down-2x { background-position: -2090px 0px; width: 12px; height: 12px;  } 
.jw-icon.excerpt-2x { background-position: -2112px 0px; width: 12px; height: 12px;  } 
.jw-icon.expand-left-2x { background-position: -2134px 0px; width: 12px; height: 12px;  } 
.jw-icon.expand-right-2x { background-position: -2156px 0px; width: 12px; height: 12px;  } 
.jw-icon.expand-up-2x { background-position: -2178px 0px; width: 12px; height: 12px;  } 
.jw-icon.external-link-2x { background-position: -2200px 0px; width: 12px; height: 12px;  } 
.jw-icon.eye-2x { background-position: -2222px 0px; width: 12px; height: 12px;  } 
.jw-icon.eyedropper-2x { background-position: -2244px 0px; width: 12px; height: 12px;  } 
.jw-icon.file-2x { background-position: -2266px 0px; width: 12px; height: 12px;  } 
.jw-icon.fire-2x { background-position: -2288px 0px; width: 12px; height: 12px;  } 
.jw-icon.flash-2x { background-position: -2310px 0px; width: 12px; height: 12px;  } 
.jw-icon.flag-2x { background-position: -2332px 0px; width: 12px; height: 12px;  } 
.jw-icon.folder-2x { background-position: -2354px 0px; width: 12px; height: 12px;  } 
.jw-icon.fork-2x { background-position: -2376px 0px; width: 12px; height: 12px;  } 
.jw-icon.fullscreen-enter-2x { background-position: -2398px 0px; width: 12px; height: 12px;  } 
.jw-icon.fullscreen-exit-2x { background-position: -2420px 0px; width: 12px; height: 12px;  } 
.jw-icon.globe-2x { background-position: -2442px 0px; width: 12px; height: 12px;  } 
.jw-icon.graph-2x { background-position: -2464px 0px; width: 12px; height: 12px;  } 
.jw-icon.grid-four-up-2x { background-position: -2486px 0px; width: 12px; height: 12px;  } 
.jw-icon.grid-three-up-2x { background-position: -2508px 0px; width: 12px; height: 12px;  } 
.jw-icon.grid-two-up-2x { background-position: -2530px 0px; width: 12px; height: 12px;  } 
.jw-icon.hard-drive-2x { background-position: -2552px 0px; width: 12px; height: 12px;  } 
.jw-icon.header-2x { background-position: -2574px 0px; width: 12px; height: 12px;  } 
.jw-icon.headphones-2x { background-position: -2596px 0px; width: 12px; height: 12px;  } 
.jw-icon.heart-2x { background-position: -2618px 0px; width: 12px; height: 12px;  } 
.jw-icon.home-2x { background-position: -2640px 0px; width: 12px; height: 12px;  } 
.jw-icon.image-2x { background-position: -2662px 0px; width: 12px; height: 12px;  } 
.jw-icon.inbox-2x { background-position: -2684px 0px; width: 12px; height: 12px;  } 
.jw-icon.infinity-2x { background-position: -2706px 0px; width: 12px; height: 12px;  } 
.jw-icon.info-2x { background-position: -2728px 0px; width: 12px; height: 12px;  } 
.jw-icon.italic-2x { background-position: -2750px 0px; width: 12px; height: 12px;  } 
.jw-icon.justify-center-2x { background-position: -2772px 0px; width: 12px; height: 12px;  } 
.jw-icon.justify-left-2x { background-position: -2794px 0px; width: 12px; height: 12px;  } 
.jw-icon.justify-right-2x { background-position: -2816px 0px; width: 12px; height: 12px;  } 
.jw-icon.key-2x { background-position: -2838px 0px; width: 12px; height: 12px;  } 
.jw-icon.laptop-2x { background-position: -2860px 0px; width: 12px; height: 12px;  } 
.jw-icon.layers-2x { background-position: -2882px 0px; width: 12px; height: 12px;  } 
.jw-icon.lightbulb-2x { background-position: -2904px 0px; width: 12px; height: 12px;  } 
.jw-icon.link-broken-2x { background-position: -2926px 0px; width: 12px; height: 12px;  } 
.jw-icon.link-intact-2x { background-position: -2948px 0px; width: 12px; height: 12px;  } 
.jw-icon.list-2x { background-position: -2970px 0px; width: 12px; height: 12px;  } 
.jw-icon.list-rich-2x { background-position: -2992px 0px; width: 12px; height: 12px;  } 
.jw-icon.location-2x { background-position: -3014px 0px; width: 12px; height: 12px;  } 
.jw-icon.lock-locked-2x { background-position: -3036px 0px; width: 12px; height: 12px;  } 
.jw-icon.lock-unlocked-2x { background-position: -3058px 0px; width: 12px; height: 12px;  } 
.jw-icon.loop-2x { background-position: -3080px 0px; width: 12px; height: 12px;  } 
.jw-icon.loop-circular-2x { background-position: -3102px 0px; width: 12px; height: 12px;  } 
.jw-icon.loop-square-2x { background-position: -3124px 0px; width: 12px; height: 12px;  } 
.jw-icon.magnifying-glass-2x { background-position: -3146px 0px; width: 12px; height: 12px;  } 
.jw-icon.map-2x { background-position: -3168px 0px; width: 12px; height: 12px;  } 
.jw-icon.map-marker-2x { background-position: -3190px 0px; width: 12px; height: 12px;  } 
.jw-icon.media-pause-2x { background-position: -3212px 0px; width: 12px; height: 12px;  } 
.jw-icon.media-play-2x { background-position: -3234px 0px; width: 12px; height: 12px;  } 
.jw-icon.media-record-2x { background-position: -3256px 0px; width: 12px; height: 12px;  } 
.jw-icon.media-skip-backward-2x { background-position: -3278px 0px; width: 12px; height: 12px;  } 
.jw-icon.media-skip-forward-2x { background-position: -3300px 0px; width: 12px; height: 12px;  } 
.jw-icon.media-step-backward-2x { background-position: -3322px 0px; width: 12px; height: 12px;  } 
.jw-icon.media-step-forward-2x { background-position: -3344px 0px; width: 12px; height: 12px;  } 
.jw-icon.media-stop-2x { background-position: -3366px 0px; width: 12px; height: 12px;  } 
.jw-icon.medical-cross-2x { background-position: -3388px 0px; width: 12px; height: 12px;  } 
.jw-icon.menu-2x { background-position: -3410px 0px; width: 12px; height: 12px;  } 
.jw-icon.microphone-2x { background-position: -3432px 0px; width: 12px; height: 12px;  } 
.jw-icon.minus-2x { background-position: -3454px 0px; width: 12px; height: 12px;  } 
.jw-icon.monitor-2x { background-position: -3476px 0px; width: 12px; height: 12px;  } 
.jw-icon.moon-2x { background-position: -3498px 0px; width: 12px; height: 12px;  } 
.jw-icon.move-2x { background-position: -3520px 0px; width: 12px; height: 12px;  } 
.jw-icon.musical-note-2x { background-position: -3542px 0px; width: 12px; height: 12px;  } 
.jw-icon.paperclip-2x { background-position: -3564px 0px; width: 12px; height: 12px;  } 
.jw-icon.pencil-2x { background-position: -3586px 0px; width: 12px; height: 12px;  } 
.jw-icon.people-2x { background-position: -3608px 0px; width: 12px; height: 12px;  } 
.jw-icon.person-2x { background-position: -3630px 0px; width: 12px; height: 12px;  } 
.jw-icon.phone-2x { background-position: -3652px 0px; width: 12px; height: 12px;  } 
.jw-icon.pie-chart-2x { background-position: -3674px 0px; width: 12px; height: 12px;  } 
.jw-icon.pin-2x { background-position: -3696px 0px; width: 12px; height: 12px;  } 
.jw-icon.play-circle-2x { background-position: -3718px 0px; width: 12px; height: 12px;  } 
.jw-icon.plus-2x { background-position: -3740px 0px; width: 12px; height: 12px;  } 
.jw-icon.power-standby-2x { background-position: -3762px 0px; width: 12px; height: 12px;  } 
.jw-icon.print-2x { background-position: -3784px 0px; width: 12px; height: 12px;  } 
.jw-icon.project-2x { background-position: -3806px 0px; width: 12px; height: 12px;  } 
.jw-icon.pulse-2x { background-position: -3828px 0px; width: 12px; height: 12px;  } 
.jw-icon.puzzle-piece-2x { background-position: -3850px 0px; width: 12px; height: 12px;  } 
.jw-icon.question-mark-2x { background-position: -3872px 0px; width: 12px; height: 12px;  } 
.jw-icon.rain-2x { background-position: -3894px 0px; width: 12px; height: 12px;  } 
.jw-icon.reload-2x { background-position: -3916px 0px; width: 12px; height: 12px;  } 
.jw-icon.resize-both-2x { background-position: -3938px 0px; width: 12px; height: 12px;  } 
.jw-icon.random-2x { background-position: -3960px 0px; width: 12px; height: 12px;  } 
.jw-icon.resize-height-2x { background-position: -3982px 0px; width: 12px; height: 12px;  } 
.jw-icon.resize-width-2x { background-position: -4004px 0px; width: 12px; height: 12px;  } 
.jw-icon.rss-2x { background-position: -4026px 0px; width: 12px; height: 12px;  } 
.jw-icon.rss-alt-2x { background-position: -4048px 0px; width: 12px; height: 12px;  } 
.jw-icon.script-2x { background-position: -4070px 0px; width: 12px; height: 12px;  } 
.jw-icon.share-2x { background-position: -4092px 0px; width: 12px; height: 12px;  } 
.jw-icon.share-boxed-2x { background-position: -4114px 0px; width: 12px; height: 12px;  } 
.jw-icon.shield-2x { background-position: -4136px 0px; width: 12px; height: 12px;  } 
.jw-icon.signal-2x { background-position: -4158px 0px; width: 12px; height: 12px;  } 
.jw-icon.signpost-2x { background-position: -4180px 0px; width: 12px; height: 12px;  } 
.jw-icon.sort-ascending-2x { background-position: -4202px 0px; width: 12px; height: 12px;  } 
.jw-icon.sort-descending-2x { background-position: -4224px 0px; width: 12px; height: 12px;  } 
.jw-icon.spreadsheet-2x { background-position: -4246px 0px; width: 12px; height: 12px;  } 
.jw-icon.star-2x { background-position: -4268px 0px; width: 12px; height: 12px;  } 
.jw-icon.sun-2x { background-position: -4290px 0px; width: 12px; height: 12px;  } 
.jw-icon.tablet-2x { background-position: -4312px 0px; width: 12px; height: 12px;  } 
.jw-icon.tag-2x { background-position: -4334px 0px; width: 12px; height: 12px;  } 
.jw-icon.tags-2x { background-position: -4356px 0px; width: 12px; height: 12px;  } 
.jw-icon.target-2x { background-position: -4378px 0px; width: 12px; height: 12px;  } 
.jw-icon.task-2x { background-position: -4400px 0px; width: 12px; height: 12px;  } 
.jw-icon.terminal-2x { background-position: -4422px 0px; width: 12px; height: 12px;  } 
.jw-icon.text-2x { background-position: -4444px 0px; width: 12px; height: 12px;  } 
.jw-icon.thumb-down-2x { background-position: -4466px 0px; width: 12px; height: 12px;  } 
.jw-icon.thumb-up-2x { background-position: -4488px 0px; width: 12px; height: 12px;  } 
.jw-icon.timer-2x { background-position: -4510px 0px; width: 12px; height: 12px;  } 
.jw-icon.transfer-2x { background-position: -4532px 0px; width: 12px; height: 12px;  } 
.jw-icon.trash-2x { background-position: -4554px 0px; width: 12px; height: 12px;  } 
.jw-icon.underline-2x { background-position: -4576px 0px; width: 12px; height: 12px;  } 
.jw-icon.vertical-align-bottom-2x { background-position: -4598px 0px; width: 12px; height: 12px;  } 
.jw-icon.vertical-align-center-2x { background-position: -4620px 0px; width: 12px; height: 12px;  } 
.jw-icon.vertical-align-top-2x { background-position: -4642px 0px; width: 12px; height: 12px;  } 
.jw-icon.video-2x { background-position: -4664px 0px; width: 12px; height: 12px;  } 
.jw-icon.volume-high-2x { background-position: -4686px 0px; width: 12px; height: 12px;  } 
.jw-icon.volume-low-2x { background-position: -4708px 0px; width: 12px; height: 12px;  } 
.jw-icon.volume-off-2x { background-position: -4730px 0px; width: 12px; height: 12px;  } 
.jw-icon.warning-2x { background-position: -4752px 0px; width: 12px; height: 12px;  } 
.jw-icon.wifi-2x { background-position: -4774px 0px; width: 12px; height: 12px;  } 
.jw-icon.wrench-2x { background-position: -4796px 0px; width: 12px; height: 12px;  } 
.jw-icon.x-2x { background-position: -4818px 0px; width: 12px; height: 12px;  } 
.jw-icon.yen-2x { background-position: -4840px 0px; width: 12px; height: 12px;  } 
.jw-icon.zoom-in-2x { background-position: -4862px 0px; width: 12px; height: 12px;  } 
.jw-icon.zoom-out-2x { background-position: -4884px 0px; width: 12px; height: 12px;  } 
.jw-icon.caret-top { background-position: -4906px 0px; width: 8px; height: 8px;  } 
.jw-icon.caret-bottom { background-position: -4924px 0px; width: 8px; height: 8px;  } 
.jw-icon.caret-left { background-position: -4942px 0px; width: 8px; height: 8px;  } 
.jw-icon.caret-right { background-position: -4960px 0px; width: 8px; height: 8px;  } 
.jw-icon.chevron-bottom { background-position: -4978px 0px; width: 8px; height: 8px;  } 
.jw-icon.chevron-left { background-position: -4996px 0px; width: 8px; height: 8px;  } 
.jw-icon.chevron-right { background-position: -5014px 0px; width: 8px; height: 8px;  } 
.jw-icon.chevron-top { background-position: -5032px 0px; width: 8px; height: 8px;  } 
.jw-icon.columns-2x { background-position: -5050px 0px; width: 12px; height: 12px;  } 