/**/
@import "../jasonLessVariables";

.jw-button:hover, .jw-button:focus {
    outline: 0;
    box-shadow: 0 0 3px 2px @jwDefault500;
}

.jw-calendar {
    border: 1px solid @jwBorderColor;
    background-color: @jwWhite;

    .jw-calendar-header {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        height: 15%;
        border-bottom: 1px solid @jwBorderColor;
        background-color: @jwDefault400;
        color: @jwBlack;

        .jw-calendar-back {
            /*float: left;*/
            width: 10%;
            display: inline-block;
            height: 100%;
            vertical-align: middle;

            a:focus {
                border: 1px solid @jwHoverDefault300;
            }
        }

        .jw-calendar-display {
            width: 80%;
            text-align: center;
            cursor: pointer;
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            line-height: 32px;
            overflow-y: hidden;
            color: @jwBlack;
        }

        .jw-calendar-forward {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            width: 10%;

            a:focus {
                border: 1px solid @jwHoverBlue;
            }
        }

        i {
            cursor: pointer;
        }
    }

    .jw-calendar-body {
        height: 70%;
        padding: 0 5px 0 5px;
        width: 100%;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        table {
            width: -webkit-calc(~"100%" - 20px);
            width: calc(~"100%" - 10px);
            table-layout: fixed;
            border-collapse: separate;
            text-align: center;
            th {
                text-align: center;
            }

            tr {
                height: 20px;
            }

            td {
                cursor: pointer;
            }

            td.jw-calendar-item-outofscope {
                a {
                    color: gray;
                }
            }

            td.selected-date {
                background: @jwDefault300;
                color: @jwWhite;
                border-radius: 3px;
            }

            td.selected-date:hover {
                a {
                    color: @jwBlack;
                }
            }

            td:hover {
                a {
                    color: @jwHoverBlue;
                }
            }
        }

        table.month-view {
            border-spacing: 10px;
            border-collapse: separate;
            font-size: 16px;

            td {
                cursor: pointer;
            }
        }

        table.years-view {
            border-spacing: 20px;
            border-collapse: separate;
            font-size: 16px;

            td {
                cursor: pointer;
            }
        }

        table.decades-view,
        table.centuries-view {
            border-spacing: 5px;
            border-collapse: separate;
            font-size: 16px;

            td {
                cursor: pointer;
                padding-left: 5px;

                span {
                    display: inline-block;
                    -ms-word-break: break-word;
                    word-break: break-word;
                    text-align: justify;
                }
            }
        }
    }

    .jw-calendar-footer {
        height: 15%;
        border-top: 1px solid @jwBorderColor;
        text-align: center;

        span:hover {
            color: @jwHoverBlue;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    a {
        text-decoration: none;
        color: @jwFontColor;
    }

    .jw-calendar-display {
        a {
            color: @jwWhite;
            vertical-align: middle;
        }
    }

    a:focus {
        text-decoration: underline;
    }
}
